@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap");
@import url(../src/styles/ButtonOfModal.css);
@import url(../src/styles/FormControl.css);
@import url(../src/styles/ModalForm.css);
@import url(../src/styles/SuccessModal.css);
@import url(../src/styles/AllMessage.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  font-weight: 500;
}
